{% extends "base.html" %}
{% load score_tags %}

{% block content %}
  {% if request.user.is_anonymous %}
    <form action="{% url "login" %}" method="post">
      {% csrf_token %}
      {{ login_form }}
      <input type="submit" value="Login">
    </form>
  {% endif %}

  <table id="room-list">
    <tbody>
      {% for room in rooms %}
        <tr>
          <td><a href="{% url "room_view" room_slug=room.slug %}">{{ room.name }}</a></td>
          <td>
            {% if request.user.is_authenticated %}{% new_posts room visits %} /{% endif %}
            {{ room.total_messages }}
          </td>
          <td>{{ room.last_message_time}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
