{% extends 'base.html' %}
{% load score_tags static %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    <form class="message-form" action="{% url "message_send" room_slug=room.slug %}" method="post" autocomplete="off">
      {% csrf_token %}
      {{ message_form.as_p }}
      <input type="submit" value="Odeslat">
    </form>
  {% endif %}

  <h2 class="room-name">místnost: {{ room.name }}</h2>

  {% include "parts/discussion_threads.html" %}

  <div class="room-meta">
    <table>
      <thead>
        <tr><th colspan="2">{{ room.name }}</th></tr>
      </thead>

      <tbody>
        <tr><th>Vytvořeno</th><td>{{ room.created }}</td></tr>
        {% if room.author %}<tr><th>Autor</th><td>{{ room.author }}</td></tr>{% endif %}
        {% if room.moderator %}<tr><th>Moderátor</th><td>{{ room.moderator }}</td></tr>{% endif %}
        {% if request.user == room.author %}<tr><td colspan="2"><a href="{% url "room_edit" room_slug=room.slug %}">Upravit místnost</a></td></tr>{% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block extra_body %}
  <script src="{% static "js/app.js" %}"></script>
{% endblock %}
