{% extends 'base.html' %}
{% load score_tags %}

{% block content %}
  {% if request.user.is_anonymous %}
    <form action="{% url "login" %}" method="post">
      {% csrf_token %}
      {{ login_form }}
      <input type="submit" value="Login">
    </form>
  {% endif %}

  <form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{ message_form }}
    <input type="submit" value="Odeslat">
  </form>

  {% for thread in threads %}
    {% include "parts/message.html" with message=thread %}
  {% endfor %}


  <div class="pagination">
    <span class="step-links">
      {% if threads.has_previous %}
        <a href="?page={{ threads.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
      </span>

      {% if threads.has_next %}
        <a href="?page={{ threads.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>

{% endblock %}

{% block extra_body %}
  <script>
    if (!Element.prototype.hasClass) {
      Element.prototype.hasClass = function(className) {
        return new RegExp('(^| )' + className + '( |$)', 'gi').test(this.className);
      }
    }

    Element.prototype.firstAncestorOfClass = function(className) {
      var el = this;
      while ((el = el.parentElement) && !el.hasClass(className)) {}
      return el;
    };

    var replyEls = document.querySelectorAll(".send-reply");

    Array.prototype.forEach.call(replyEls, function(el, i) {
      el.addEventListener('click', function(e) {
        var rootMessage = el.firstAncestorOfClass('message');

        document.getElementById("id_recipient").value = rootMessage.getAttribute('data-author');
        document.getElementById("id_thread_id").value = rootMessage.getAttribute('data-thread-id');
      });
    });
  </script>
{% endblock %}
