{% extends 'base.html' %}
{% load score_tags %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {{ message_form }}
    <input type="submit" value="Odeslat">
  </form>

  {% discussionthread threads %}
    {% include "parts/message.html" with message=node level=node.level %}
    {% if not node.is_leaf %}
      {{ children }}
    {% endif %}
  {% enddiscussionthread %}


  <div class="pagination">
    <span class="step-links">
      {% if pagination.has_previous %}
        <a href="?page={{ pagination.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}.
      </span>

      {% if pagination.has_next %}
        <a href="?page={{ pagination.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>

{% endblock %}
