{% extends "base.html" %}
{% load score_tags %}

{% block content %}
  <table>
    <tbody>
      {% for room in rooms %}
        <tr>
          <td><a href="{% url "room_view" room_id=room.pk %}">{{ room.name }}</a></td>
          <td>
            {% if request.user.is_authenticated %}{% new_posts room visits %} /{% endif %}
            {{ room.total_messages }}
          </td>
          <td>{{ room.last_message_time}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
