{% extends 'base.html' %}

{% block title %}Uživatelé | {% endblock %}

{% block content %}
  <table class="users-list">
    <tbody>
      {% for session in sessions %}
        <tr>
          <td class="user">{{ session.user.username }}</td>
          <td class="last-action">
            {% if session.get_decoded.last_action.url %}<a href="{{ session.get_decoded.last_action.url }}">{{ session.get_decoded.last_action.name }}</a>
            {% else %}{{ session.get_decoded.last_action.name }}{% endif %}
          </td>
          <td class="motto">{{ session.user.motto }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
