{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}
{% block top_menu %}{% include 'snippets/only_home_top_menu.html' %}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  <p>Zapomněli jste heslo? Zadejte níže e-mailovou adresu a systém Vám odešle instrukce k nastavení nového.</p>

  <form action="" method="post">{% csrf_token %}
    {{ form.email.errors }}
    <p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
  </form>
{% endblock %}
