{% load score_tags staticfiles %}

<tr{% if room|new_posts:visits > 0 %} class="unread"{% endif %}>
  <td>{% if room.protected %}<img src="{% static "img/key.gif" %}">{% endif %}</td>
  <td><a href="{% url "room_view" room_slug=room.slug %}">{{ room.name }}</a></td>
  <td>
    {% if room.total_messages %}
      <span class="post-count">
        {% if request.user.is_authenticated and room|new_posts:visits != room.total_messages%}{{ room|new_posts:visits }}/{% endif %}{{ room.total_messages }}
      </span>
      <span class="last-message-time">| {{ room.last_message_time|date:"d.m H:i" }}</span>
    {% else %}
      pusto a prázdno...
    {% endif %}
  </td>
</tr>
