html, body
  font-family: Tahoma, Verdana, Arial, sans-serif
  font-size: 8pt

a
  color: #3f4974
  text-decoration: none

  &:hover
    color: #fff

b
  font-weight: bold

i
  font-style: italic

table
  th, td
    padding: 0.5rem 1rem
  th
    font-weight: bold

  th[colspan]:last-child
    text-align: center
