.message
  font-family: Tahoma, Arial, Helvetica, sans-serif
  color: #333

  +pie-clearfix
  position: relative

  &.reply
    margin-left: 45px

  .avatar
    position: absolute

  .text
    margin: 0.2em 0.2em 0.5em 42px
    min-height: 50px

  .flags
    position: absolute
    text-align: right
    width: 40px
    top: 1px

  .send-reply
    cursor: pointer

  .meta
    position: relative
    left: 41px
    margin-right: 41px
    border: 1px solid #000
    background: #c8c4a0
    padding: 0.2rem
    font-size: 0

    div
      display: inline-block
      width: 33%
      font-size: 1rem

      &.recipient
        text-align: center

      &.time
        text-align: right
        width: 34%
