{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}Score Phorum v4.0</title>
  <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="{% static "css/screen.css" %}">
</head>
<body>
  <div class="top-menu">
    {% if login_form and request.user.is_anonymous%}
      <form action="{% url "login" %}" method="post">
        {% csrf_token %}
        {{ login_form }}
        <input type="submit" value="Login">
      </form>

      | <a href="{{ request.get_full_path }}">refresh</a> |
    {% elif request.user.is_authenticated %}
        |
        <a href="{% url "user_edit" %}">{{ request.user.username }}</a>
        |
        <a href="{% url "inbox" %}">moje zprávy</a> ({{ inbox_unread_count }})
        |
        {% if request.path != "/" %}
          <a href="{% url "home" %}">místnosti</a>
          |
        {% endif %}
        {% if new_posts >= 0 %}
          nové příspěvky: {{ new_posts }}
          |
        {% endif %}
        <a href="{% url "users" %}">uživatelé</a> ({{ active_users_count }})
        |
        <a href="{{ request.get_full_path }}">refresh</a>
        |
        <a href="{% url "logout" %}">odhlásit</a>
        |
    {% endif %}
  </div>

  {% include "snippets/messages.html" with messages=messages only %}

  {% block content %}{% endblock %}

  {% block extra_body %}{% endblock %}
</body>
</html>
