<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  {% if request.user.is_anonymous %}
    <form action="{% url "login" %}" method="post">
      {% csrf_token %}
      {{ login_form }}
      <input type="submit" value="Login">
    </form>
  {% else %}
    Logged in as {{ request.user.nickname }}
    |
    <a href="{% url "logout" %}">Logout</a>
  {% endif %}

  {% include "snippets/messages.html" with messages=messages only %}

  {% block content %}{% endblock %}
</body>
</html>
