{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}Score Phorum v4.0</title>
  <link rel="stylesheet" href="{% static "css/screen.css" %}">
  <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
</head>
<body>
  <div id="content">
    <div class="top-menu">
      {% if login_form and request.user.is_anonymous%}
        <form action="{% url "login" %}" method="post">
          {% csrf_token %}
          {{ login_form }}
          <input type="hidden" name="next" value="{{ next }}">
          <input type="submit" value="Login">
        </form>
      {% endif %}

      <ul>
        {% if request.user.is_authenticated %}
          <li><a href="{% url "user_edit" %}">{{ request.user.username }}</a></li>
          <li><a href="{% url "inbox" %}">moje zprávy</a> (<span class="inbox-new-messages">{{ inbox_unread_count }}</span>)</li>
          {% if request.path != "/" %}
            <li><a href="{% url "home" %}">místnosti</a></li>
          {% endif %}
          {% if new_posts >= 0 %}
            <li>nové příspěvky: {{ new_posts }}</li>
          {% endif %}
          <li><a href="{% url "users" %}">uživatelé</a> ({{ active_users_count }})</li>
          <li><a href="{{ request.get_full_path }}">refresh</a></li>
          <li><a href="{% url "logout" %}">odhlásit</a></li>
        {% else %}
          <li><a href="{% url "user_new" %}">nový uživatel</a></li>
          <li><a href="{{ request.get_full_path }}">refresh</a></li>
        {% endif %}
      </ul>
    </div>

    {% include "snippets/messages.html" with messages=messages only %}

    {% block content %}{% endblock %}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  {% block extra_body %}{% endblock %}
</body>
</html>
