$score-bg-color: #94ada5
$score-complementary-color: #c8c4a0

$message-meta-color: $score-complementary-color
$message-meta-highlight-color: #e8e28d

$mobile-break-width: 640px
$mobile-breakpoint: screen and (min-width $mobile-break-width)
