{% extends "base.html" %}

{% block content %}
  <p>
    Místnost je chráněná heslem. Po prvním zadání správného hesla již bude možné do místnosti
    vstupovat bez nutnosti jeho opětovného zadávání.
  </p>
  <form action="{% url "room_password_prompt" room_slug=room.slug %}" method="post">
    <table>
      {{ form }}
      <tr>
        <th></th>
        <td>
          <input type="submit" value="Odeslat">
          {% csrf_token %}
        </td>
      </tr>
    </table>
  </form>

  {% include "parts/room_meta.html" %}
{% endblock %}
