{% for thread in threads %}
  {% include "parts/message.html" with message=thread %}
{% endfor %}


<div class="pagination">
  <span class="step-links">
    {% if threads.has_previous %}
      <a href="?page={{ threads.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
    </span>

    {% if threads.has_next %}
      <a href="?page={{ threads.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
