{% load score_tags staticfiles %}

<div class="message{% if message.thread %} reply{% endif %}{% if message.author == request.user %} sent{% elif message.recipient == request.user %} received{% else %}{% endif %}{% if request.user.is_authenticated and message|is_newer_than:last_visit_time %} new-message{% endif %}"
     data-thread-id="{{ message.thread_reply_id }}"
     data-author-id="{{ message.author.pk }}"
     data-author="{{ message.author.username }}">
  <div class="header">
    <div class="flags">
      {% if request.user.is_authenticated %}
        {% if message|is_newer_than:last_visit_time %}<img src="{% static "img/new-message.gif" %}">{% endif %}
        <img src="{% static "img/message-icon.gif" %}" class="send-reply">
      {% endif %}
    </div>
    <div class="meta">
      <div class="author">
        <b>od:</b> {{ message.author.username }}
        {% if message|can_be_deleted_by:request.user %}
          <span class="delete-link">- <a href="{% url "message_delete" message_id=message.id %}{% if message.private %}?inbox=1{% endif %}">smaž</a></span>
        {% endif %}
      </div>
      <div class="recipient"><b>pro:</b> {% if message.recipient %}{{ message.recipient.username }}{% else %}all{% endif %}</div>
      <div class="time" title="{{ message.created }}">
        {{ message.created|date:"d.m. H:i" }}
        {% if message|can_be_deleted_by:request.user %}
          <a href="{% url "message_delete" message_id=message.id %}{% if message.private %}?inbox=1{% endif %}" class="delete-link-mobile">&times;</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="avatar">
    <img class="send-reply" src="{% if message.author.avatar %}{{ message.author.avatar.url }}{% else %}{% static "img/rudoksicht.gif" %}{% endif %}">
    <div class="level-{{ message.author.level }}"></div>
    {% if not message.thread %}
        <div class="jump-to-new{% if message.children and request.user.is_authenticated and message.last_child|is_newer_than:last_visit_time %} in-thread{% endif %}"></div>
    {% endif %}
  </div>
  <div class="text">{{ message.text|safe }}</div>
</div>

{% if not message.thread %}
  {% for child_message in message.child_messages %}
    {% include "parts/message.html" with message=child_message %}
  {% endfor %}
{% endif %}
